loadfont(url, type, weight, name)
    @font-face
        font-family: name
        font-style: type
        font-weight: weight
        src: url(url)

loadfont('../fonts/Latinotype - Arquitecta.otf', 'normal', 400, 'Arquitecta')
loadfont('../fonts/Latinotype - Arquitecta-italic.otf', 'italic', 400, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaBlack.otf', 'normal', 900, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaBlack-italic.otf', 'italic', 900, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaBold.otf', 'normal', 700, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaBold-italic.otf', 'italic', 700, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaBook.otf', 'normal', 600, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaBook-italic.otf', 'italic', 600, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaHeavy.otf', 'normal', 800, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaHeavy-italic.otf', 'italic', 800, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaLight.otf', 'normal', 300, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaLight-italic.otf', 'italic', 300, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaMedium.otf', 'normal', 500, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaMedium-italic.otf', 'italic', 500, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaThin.otf', 'normal', 100, 'Arquitecta')
loadfont('../fonts/Latinotype - ArquitectaThin-italic.otf', 'italic', 100, 'Arquitecta')
